CompileFlags:
  Add:
    - '-ferror-limit=0'
    - '-isystem${env:CUBE_BUNDLE_PATH}/gnu-tools-for-stm32/13.3.1+st.9/arm-none-eabi/include'
    - '-isystem${env:CUBE_BUNDLE_PATH}/gnu-tools-for-stm32/13.3.1+st.9/lib/gcc/arm-none-eabi/13.3.1/include'
  Remove:
    - -fcyclomatic-complexity
  CompilationDatabase: build/Debug
Diagnostics:
  Suppress:
    - unused-includes
    - unknown_typename
    - unknown_typename_suggest
    - typename_requires_specqual
